
@{
    ViewBag.Title = "DeptIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Dept.js"></script>
<h2>DeptIndex</h2>
<label>DeptId</label>
<input type="text" id="txtdId" class="form-control" />
<label>DeptName</label>
<input type="text" id="txtDname" class="form-control" />
<button class="btn btn-primary" onclick="SaveDept()">Submit</button>
