
@{
    ViewBag.Title = "StudentIndex";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Student.js"></script>


<h2>StudentIndex</h2>
<label>Name</label>
<input type="text" id="txtname" class="form-control" />
<label>Mobile</label>
<input type="text" id="txtm" class="form-control" />
<label>Class</label>
<input type="text" id="txtc" class="form-control" />
<label>DeptId</label>
<input type="text" id="txtdId" class="form-control" />

<button class="btn btn-primary" onclick="SaveStudent()">Submit</button>
<br />


<table id="tblStudent" border="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Class</th>
            <th>DeptId</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>